<% layout("/layouts/boilerplate") %>

    <h1 class="edith">Edit Listing</h1>
    <form method="POST" action="/listings/<%= editData._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="listing[title]" value="<%= editData.title %>" placeholder="Title" required>
            <div class="invalid-feedback">Title should be valid</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" name="listing[description]" value="<%= editData.description %>" placeholder="Description" required>
            <div class="invalid-feedback">Please enter short description</div>
        </div>


        <div class="mb-3">
            <img src="<%= originalImageUrl%>" height="100" width="100">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input type="file" class="form-control" name="listing[image]" placeholder="Image URL/Link" >
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" name="listing[price]" value="<%= editData.price %>" placeholder="Price" required>
                <div class="invalid-feedback">Price should be valid</div>
            </div>
            <div class="col-md-6">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" name="listing[location]" value="<%= editData.location %>" placeholder="Location" required>
                <div class="invalid-feedback">Please enter valid location</div>
            </div>
        </div>

        <div class="mb-3 mt-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" name="listing[country]" value="<%= editData.country %>" placeholder="Country" required>
            <div class="invalid-feedback">Please enter valid country</div>
        </div>

        <button type="submit" class="btn btn-dark add-btn">Make Changes</button>
        <br><br>
    </form>

